<div class = "container" id = "loginpage">
    <div class = "row" style="margin-right : 0;">

        <!-- Left side of window -->
        <div class = "col l12" style = "padding-right:0; padding-left :0">
          <div class = "boxtr section" style =" background : url('https://i.ytimg.com/vi/p5RobDomh5U/hqdefault.jpg');
                                                                                        background-repeat: no-repeat;
                                                                                        background-size: cover;
                                                                                        background-position: center;
                                                                                        height:100vh;
                                                                                        ">
              <div class = "input-field inline" style="margin : 70vh 0 0 110vh">
                    <input id = "username" placeholder="username.key" class="white-text">
                    &nbsp;
                    <a id = "namesubmit" class="waves-effect waves-dark"><i class="material-icons medium white-text">keyboard_arrow_right</i></a>
                     <!-- style ="color: #32292f" -->
              </div>
          </div>

        </div>

    </div>
</div>
