<div class = "container">
    <div class = "row" style="margin-right : 0; ">
        <div class = "col l4" style = "padding-right : 0">
          <h2 class = "header" style ="text-align: center">Saved Lists</h2>
          <div class = "container" style = "overflow-y:scroll; overflow-x: hidden; max-height :85vh">
            <div class ="card horizontal lighten-5 grey" >
                  <img class = "responsive-img" src="https://i.ytimg.com/vi/nDMwW41AlSI/hqdefault.jpg" style = "height :10vh">
                  <div class = "card-content">
                    <a class="waves-effect waves-dark"  style ="color: #32292f"><span class = "title">Coldplay</span></a><br>
                    <p class = "grey-text">Paul & Co<p>
                  </div>
            </div>
            <div class ="card horizontal lighten-5 grey">
                  <img class = "responsive-img" src="https://i.ytimg.com/vi/p5RobDomh5U/hqdefault.jpg" style = "height :10vh">
                  <div class = "card-content">
                    <a class="waves-effect waves-dark" style ="color: #32292f"><span class = "title">Can't Stop The Feeling</span></a><br>
                    <p class = "grey-text ">Shubhankar & Co<p>
                  </div>
            </div>
          </div>
        </div>

        <!-- Right side of window -->
        <div class = "col l8" style = "padding-right:0; padding-left :0">
          <div class = "boxtr section" style =" background : url('https://i.ytimg.com/vi/p5RobDomh5U/hqdefault.jpg');
                                                                                        background-repeat: no-repeat;
                                                                                        background-size: cover;
                                                                                        background-position: center;
                                                                                        ">

            <div class="video-container" style = "padding-bottom: 45vh">
                <iframe height="315" hidden src="https://www.youtube.com/embed/RBumgq5yVrA?version=3&autoplay=0&controls=0" frameborder="0" allowfullscreen >
                </iframe>
            </div>
            <h3 class = "header white-text center-align">Enter a Name or Create New Playlist !</h3>


          </div>
          <div class = "divider"></div>
          <div class = "section boxbr">
              <div class = "input-field inline">
                    <input id = "songurl" placeholder="name of playlist goes here">
                    &nbsp;
                    <a class="waves-effect waves-dark"><i class="material-icons medium" style ="color: #32292f">keyboard_arrow_right</i></a>
              </div>
              <h3 class = "header center-align" style ="color: #32292f">psst ... 8177</h3>
          </div>
        </div>
    </div>
</div>
